<p class="undersigned">We the undersigned demand that Jurrasic Park must be re-opened</p>


{{#allSigners}}
    <div class="all-signers">
        {{#if url}}
            <p>
                <a href="{{url}}" target="_blank" >{{first}} {{last}}</a> <span class="see-all-number">{{age}}</span> <a href="/petition/signers/{{city}}">{{city}}</a>
            </p>
        {{else}}
            <p>
                {{first}} {{last}} <span class="see-all-number">{{age}}</span> <a href="/petition/signers/{{city}}">{{city}}</a>
            </p>
        {{/if}}
    </div>
{{/allSigners}}


<button type="button" onclick="window.location.href = '/petition/signed';" name="back-button">Go Back</button>
